@font-face {
  font-family: "IBM Plex Mono Bold";
  src: url("../public/fonts/IBMPlex/ibmplexmono-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Bold Italic";
  src: url("../public/fonts/IBMPlex/ibmplexmono-bolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Italic";
  src: url("../public/fonts/IBMPlex/ibmplexmono-italic-webfont.woff2") format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Bold Italic";
  src: url("../public/fonts/IBMPlex/ibmplexmono-bolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Extra Light";
  src: url("../public/fonts/IBMPlex/ibmplexmono-extralight-webfont.woff2")
      format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Extra Light Italic";
  src: url("../public/fonts/IBMPlex/ibmplexmono-extralightitalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-extralightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Semi Bold";
  src: url("../public/fonts/IBMPlex/ibmplexmono-semibold-webfont.woff2") format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexmono-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("../public/fonts/IBMPlex/ibmplexsans-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans Condensed Medium";
  src: url("../public/fonts/IBMPlex/ibmplexsanscond-medium-webfont.woff2")
      format("woff2"),
    url("../public/fonts/IBMPlex/ibmplexsanscond-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
